<aside id="sidebar">
  <div>
    <h1>YC List</h1>

    <br>

    <ul>
      <li><label><input type="checkbox" id="toggle-operating" checked="checked"> Show Active</label>
      <li><label><input type="checkbox" id="toggle-exited" checked="checked"> Show Exited</label>
      <li><label><input type="checkbox" id="toggle-dead" checked="checked"> Show Dead</label>
    </ul>

    <br>

    <div>
      <span id="companies_count">400</span> companies shown
    </div>

    <div id="last_update">
      <h3>Last Update:</h3>
      <p>Nov. 4, 2012</p>
    </div>

    <div id="sources">
      <h3>Sources:</h3>
      <ul>
        <li><a href="http://www.seed-db.com/accelerators/view?acceleratorid=1011"
               target="_blank">www.seed-db.com</a>
        <li><a href="http://www.crunchbase.com" target="_blank">www.crunchbase.com</a>
      </ul>
    </div>
  </div>
</aside>


<section id="companies">

  <table>

    <thead>
      <tr>
        <th class="favicon"></th>
        <th>Name</th>
        <th>URL</th>
        <th>Class</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |c| %>
        <tr class="<%= c.status.downcase %>">
          <td class="favicon">
            <div class="c-icon c-<%= c.id %>"></div>
          </td>
          <td class="name"><%= c.name %></td>
          <td><a href="<%= c.url %>" target="_blank"><%= c.url %></a></td>
          <td><%= c.cohort_str %></td>
          <td><%= c.status_str %></td>
          <td><%= c.title %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</section>
