<!--

File an issue at https://github.com/linrock/yclist

  - OR - 

Email me at linmiao.xu AT gmail.com if you have suggestions!

-->

<div id="sidebar">
  <div>
    <div class="top">

      <h1>YC List</h1>

      <br>

      <ul>
        <li><label><input type="checkbox" id="toggle-operating" checked="checked"> Show Active</label>
        <li><label><input type="checkbox" id="toggle-exited" checked="checked"> Show Exited</label>
        <li><label><input type="checkbox" id="toggle-dead" checked="checked"> Show Dead</label>
      </ul>

      <br>

      <div>
        <span id="companies_count"><%= @company_rows.length %></span> companies shown
      </div>

      <div class="contributing">
        Have suggestions? <br>
        <a href="https://github.com/linrock/yclist" target="_blank" class="link">
          Let us know!
        </a>
      </div>

    </div>

    <div class="bottom">

      <div>
        <h3>Last Update:</h3>
        <p><%= @last_update %></p>
      </div>

      <br>

      <div>
        <h3>Resources:</h3>
        <ul>
          <li><a href="http://www.seed-db.com/accelerators/view?acceleratorid=1011"
                 target="_blank">www.seed-db.com</a>
          <li><a href="http://www.crunchbase.com" target="_blank">www.crunchbase.com</a>
          <li><a href="http://techcrunch.com" target="_blank">www.techcrunch.com</a>
          <% if false %>
          <li><a href="http://ycuniverse.com/ycombinator-companies.php"
                 target="_blank">ycuniverse.com</a>

          http://ycpages.info/companies
          <% end %>
        </ul>
      </div>

    </div>

  </div>
</div>


<div id="companies">

  <table>

    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>URL</th>
        <th>Class</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @company_rows.each_with_index do |c, i| %>
        <tr class="<%= c.status.downcase %>">
          <td>
            <% if @use_favicon_sprites %>
              <div class="c-icon c-<%= i %>"></div>
            <% elsif c.favicon(:cache_only => @cached_favicons_only) %>
              <img src="data:image/png;base64,<%= c.favicon_base64(:cache_only => @cached_favicons_only) %>">
            <% end %>
          </td>
          <td><%= c.name %></td>
          <td>
            <% unless c.dead? %>
              <a href="<%= c.url %>" target="_blank"><%= c.url %></a>
            <% end %>
          </td>
          <td class="<%= c.cohort_season %>">
            <%= c.cohort %>
          </td>
          <td><%= c.status_str %></td>
          <td><%= c.description %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>

<% if Rails.env.production? && Remote.ga_id %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= Remote.ga_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<% end %>
